*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*LAYOUT*/
header{
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(249,208,4);
}
header .logo{
    width: 15%;
}
.logo img{
    width: 100%;
}
.textoheader{
    width: 35%;
}
.textoheader h1{
    font-size: 500%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.buscar{
    width: 35%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(213,222,239);
}
.buscar form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buscar form img{
    width: 99%;
}
.buscar form button{
    width: 12%;
    background-color: none;
    background: none;
    border: none;
}
.buscar form input{
    width: 80%;
    height: 3rem;
    font-size: 40px;
    background-color: rgb(213,222,239);
    border:none;
}
footer{
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(249,208,4);
}
footer h1{
    font-size: 450%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.Botones{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: center;
    align-items: center;
    margin-top: 20px;
}
.boton1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.red{
    padding: 10px;
    background-color: rgb(215,92,87);
    font-size: 200%;
    text-decoration: none;
    color: white;
}
.blue{
    padding: 10px;
    background-color: rgb(134,218,254);
    font-size: 200%;
    text-decoration: none;
    color: black;
}
.cabeza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*INDEX*/
.mainIndex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tablaIndex{
    width: 90%;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 20px solid rgb(249,208,4);
    margin: 15px;
}
.tabla_Index{
    background-color: white;
    margin: 3%;
    text-align: left;
    border-collapse: collapse;
    width: 80%;
}
.tabla_Index th{
    border-top: solid 1px black;
    height: 4rem;
    font-size: 150%;
    text-align: center;

}
thead{
    border-bottom:solid 1px black ;
    background-color: white;
}
.tabla_Index tbody tr:nth-child(odd){
    border: solid 1px black;
    background-color: rgb(215,92,87);
    height: 4rem;
    margin:10px 0 10px 0;
    text-align: center;
}

tr:nth-child(even){
    background-color:rgb(134,218,254);
    height: 4rem;
    margin:10px 0 10px 0;
    border: solid 1px black;
    text-align: center;
}
.borde1{
    border-left: solid 1px black;
    border-right: solid 3px black;
}
.bordeN{
    border-right: solid 3px black;
}
.borde2{
    border-right: solid 1px black;
}

/*CREAR CLIENTE*/
.creacion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.crear{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 300%;
    margin: 20px 0 20px 0;
}
.crear input{
    width: 600px;
    margin-left: 10%;
    background-color: rgb(134,218,254);
    border: none;
}
.enviar{
    padding: 1% 2% 1% 2%;
    border-radius: 100px;
    background-color: rgb(134,218,254);
    border: none;
    margin-bottom: 10px;
}
/*MODIFICAR DEUDA*/
.buscar2{
    width: 35%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(213,222,239);
    margin-top: 10px;
}
.buscar2 form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buscar2 form img{
    width: 90%;
}
.buscar2 form button{
    width: 10%;
    background: none;
    border: none;
}
.buscar2 form input{
    width: 80%;
    height: 50px;
    font-size: 40px;
    background-color: rgb(213,222,239);
    border:none;
}

.modifDeud{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.botonesDeuda{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.botonDeu1{
    background-color: rgb(249,208,4);
    padding: 1% 2% 1% 2%;
    border-radius: 200px;
}
.botonDeu1 a{
    text-decoration: none;
    color: black;
    font-size: 200%;
}
.modifDeud input{
    width: 25%;
    text-align: center;
    background-color: rgb(134,218,254);
    height: 5rem;
    font-size: 250%;
    border: none;
}
.agrandar{
    font-size: 200%;
}
/*MODIFICAR CLIENTE*/
.mainModif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.buscar1{
    width: 35%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(213,222,239);
    margin-top: 10px;
}
.buscar1 form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.buscar1 form img{
    width: 90%;
}
.buscar1 form button{
    width: 12%;
    height: 50px;
    font-size: 40px;
    background-color: rgb(213,222,239);
    border:none;
    background: none;
}
.buscar1 form input{
    width: 80%;
    height: 50px;
    font-size: 40px;
    background-color: rgb(213,222,239);
    border:none;
}