{% extends 'layout.html' %}
{% block body %}
<main class="mainCrear">
    <section class="creacion">
        <form action="/creandoCliente" method="POST" class="formulario">
            <div class="crear">
                <label for="nombre_cliente">Nombre completo:</label>
                <input required type="text" name="nombreCliente" id="nombre_cliente">
            </div>
            <div class="crear">
                <label for="numero_doc">Numero de documento:</label>
                <input required type="text" name="numeroDoc" id="numero_doc">
            </div>
            <div class="crear">
                <label for="direccion">Direccion:</label>
                <input required type="text" name="direccion" id="direccion">
            </div>
            <div class="crear">
                <label for="numero_cel">Numero celular:</label>
                <input required type="text" name="numeroCel" id="numero_cel">
            </div>
            <div class="crear">
                <label for="saldo">Deuda:</label>
                <input value="0" type="text" name="deuda" id="saldo">
            </div>
            <div class="crear">
                <label for="saldo">A favor:</label>
                <input value="0" type="text" name="a_favor" id="saldo">
            </div>

            <button  type="submit" class="enviar"> Enviar</button>
        </form>
    </section>

    

</main>
<div>

    {% with mensaje = get_flashed_messages() %}

    {% if mensaje %}
    {% if mensaje[0] == 'alerta' %}
    <div class="flash1">

        <h2> SE HA PRODUCIDO UN ERROR VERIFIQUE LOS DATOS INGRESADOS</h2>

    </div>
    {% endif %}
    {% endif %}

{% endwith %}

</div>
{% endblock %}