{% extends 'layout.html' %}
{% block body %}
<main class="mainCrear">
    <section class="creacion">
        <form action="/creandoCliente" method="POST" class="formulario">
            <div class="crear">
                <label for="nombre_cliente">Nombre completo:</label>
                <input type="text" name="nombreCliente" id="nombre_cliente">
            </div>
            <div class="crear">
                <label for="numero_doc">Numero de documento:</label>
                <input type="text" name="numeroDoc" id="numero_doc">
            </div>
            <div class="crear">
                <label for="direccion">Direccion:</label>
                <input type="text" name="direccion" id="direccion">
            </div>
            <div class="crear">
                <label for="numero_cel">Numero celular:</label>
                <input type="text" name="numeroCel" id="numero_cel">
            </div>
            <div class="crear">
                <label for="saldo">Saldo:</label>
                <input type="text" name="saldo" id="saldo">
            </div>

            <button  type="submit" class="enviar"> Enviar</button>
        </form>
    </section>
</main>
{% endblock %}