{% extends 'layout.html' %}
{% block body %}
<main class="mainIndex">
    <section class="Botones">
        <div class="boton1">
            <a href="/crear_cliente" class="red">Crear cliente</a>
            <a href="/actualizar_cuenta" class="blue">Actualizar cuenta</a>
            <a href="/modificar_cliente" class="red">Modificar cliente</a>
        </div>
    </section>
    <section class="tablaIndex">
        <table class="tabla_Index">
            <thead>
                <tr>
                    <th class="borde1">Nombre</th>
                    <th class="bordeN">Documento</th>
                    <th class="bordeN">Telefono</th>
                    <th class="bordeN">Direccion</th>
                    <th class="borde2">Estado de la cuenta</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td>aaaa</td>
                    <td>eeeeeeee</td>
                    <td>yyyyyy</td>
                    <td>wwwwww</td>
                    <td>ssssssss</td>
                </tr>
                <tr>
                    <td>aaaa</td>
                    <td>eeeeeeee</td>
                    <td>yyyyyy</td>
                    <td>wwwwww</td>
                    <td>ssssssss</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
{% endblock %}