{% extends 'layout.html' %}
{% block body %}
<main class="mainIndex">
    <section class="tablaIndex">
        <table class="tabla_Index">
            <thead>
                <tr >
                    <th class="borde1">Nombre</th>
                    <th class="bordeN">Documento</th>
                    <th class="bordeN">Telefono</th>
                    <th class="bordeN">Direccion</th>
                    <th class="borde2">Estado de la cuenta</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td>aaaaaa</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
{% endblock %}