{% extends 'layout.html' %}
{% block busqueda %}
<div class="buscar">
    <input type="text" placeholder="Buscar">
    <a href="/index"><img src="static/images/buscar.png" alt=""></a>
</div>
{% endblock %}
{% block body %}
<main class="mainIndex">
    <section class="tablaIndex">
        <table class="tabla_Index">
            <thead>
                <tr >
                    <th class="borde1">Nombre</th>
                    <th class="bordeN">Documento</th>
                    <th class="bordeN">Telefono</th>
                    <th class="bordeN">Direccion</th>
                    <th class="borde2">Estado de la cuenta</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr> 
                    <td>{{cliente[1]}}</td>
                    <td>{{cliente[0]}}</td>
                    <td>{{cliente[2]}}</td>
                    <td>{{cliente[3]}}</td>
                    <td>{{cliente[4]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}