<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Tienda_BCJI</title>
</head>
<body>
    <div class="cabeza">
        <header>
            <a href="/index" class="logo"><img  src="static/images/tiendaa.png" alt=""></a>
            <div class="textoheader">
                <h1>Tienda_BCJI</h1>
            </div>
            {% block busqueda %}
            {% endblock %}
        </header>
        <section class="Botones">
            <div class="boton1">
                <a href="/crear_cliente" class="red">Crear cliente</a>
                <a href="/actualizar_cuenta" class="blue">Actualizar cuenta</a>
                <a href="/modificar_cliente" class="red">Modificar cliente</a>
            </div>
        </section>
    </div>
    {% block body %}
    {% endblock %}
    <footer>
        <h1>Tienda_BCJI</h1>
    </footer>
</body>
</html>