{% extends 'layout.html' %}
{% block body %}
<main class="mainModif">
    <div class="buscar1">
        <form action="/modificandoCliente" method="POST">
            <input name="documentoBuscar" type="text" placeholder="Buscar">
            <button type="submit"><img src="static/images/buscar.png" alt=""></button>
        </form>
    </div>
    <section class="creacion">
        <form action="???????????" method="POST" class="formulario" >
            <div class="crear">
                <label for="direccion">Dirección:</label>
                <input type="text" name="direccion" id="direccion" value="???????">
            </div>
            <div class="crear">
                <label for="numero_cel">Número de celular:</label>
                <input type="text" name="numero_cel" id="numero_cel" value="???????">
            </div>
        </form>
    </section>

</main>
{% with mensaje = get_flashed_messages() %}
    
        {% if mensaje %}
        {% if mensaje[0] == 'alerta1' %}
        <div class="flash1">
    
            <h2> ESTE CLIENTE NO EXISTE</h2>
    
        </div>
        {% elif mensaje[0] == 'alerta2' %}

        <div class="flash1">
    
            <h2> INGRESE SOLAMENTE NúMEROS EN EL TELÉFONO</h2>
    
        </div>

        {% endif %}
        {% endif %}
    
        {% endwith %}
{% endblock %}