{% extends 'layout.html' %}
{% block body %}
<main class="mainIndex">
    <div class="buscar2">
        <form action="">
            <input type="text" placeholder="Buscar">
            <button type="submit"><img src="static/images/buscar.png" alt=""></button>
        </form>
    </div>
    <section class="tablaIndex">
        <table class="tabla_Index">
            <thead>

            </thead>
            <tbody>
                <tr> 
                    <td class="agrandar">Nombre</td>
                    <td class="agrandar">Deuda pendiente</td>
                </tr>
            </tbody>
        </table>
        
        
    </section>

    <section class="modifDeud">
        <form action="">
            <input type="text" placeholder="Ingrese monto">
            <div class="botonesDeuda">
                <div class="botonDeu1">
                    <button type="submit">Deuda</button>
                </div>
                <div class="botonDeu1">
                    <button type="submit">A favor</button>
                </div>
            </div>
        </form>
    </section>
</main>
{% endblock %}