{% extends 'layout.html' %}
{% block body %}
<main class="mainModif">
    <div class="buscar1">
        <form action="/modificandoCliente" method="POST">
            <input name="documentoBuscar" type="text" placeholder="Buscar">
            <button type="submit"><img src="static/images/buscar.png" alt=""></button>
        </form>
    </div>
    <section class="creacion">
        <form action="{{url_for('clienteModificado')}}" method="POST" class="formulario" >
            <div class="crear">
                <label for="direccion">Dirección:</label>
                <input value="{{cliente[0]}}" type="text" name="direccion" id="direccion" value="???????">
            </div>
            <div class="crear">
                <label for="numero_cel">Número de celular:</label>
                <input value="{{cliente[1]}}" type="text" name="numero_cel" id="numero_cel" value="???????">
            </div>
            <input type="hidden" value="{{documento}}" name="documento">
            <button  type="submit" class="enviar"> Modificar</button>
        </form>
    </section>
    
</main>
{% endblock %}