{% extends 'layout.html' %}
{% block body %}
<main class="mainIndex">
    <div class="buscar2">
        <form action="/modificandoDeuda" method="POST">
            <input name="documentoBuscar" type="text" placeholder="Buscar">
            <button type="submit"><img src="static/images/buscar.png" alt=""></button>
        </form>
    </div>
    <section class="tablaIndex">
        <table class="tabla_Index">
            <thead>
                <tr> 
                    <th class="borde1">Nombre</th>
                    <th class="bordeN">Deuda</th>
                    <th class="borde2">A favor</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td class="agrandar"> xxxxx </td>
                    <td class="agrandar"> xxxxx </td>
                    <td class="agrandar"> xxxxx </td>
                </tr>
            </tbody>
        </table>
        
        
    </section>


        
    

</main>
{% with mensaje = get_flashed_messages() %}
    
        {% if mensaje %}
        {% if mensaje[0] == 'alerta1' %}
        <div class="flash1">
    
            <h2> ESTE CLIENTE NO EXISTE </h2>
    
        </div>

        {% elif mensaje[0] =="alerta2"%}
        <div class="flash1">
    
            <h2> INGRESE SOLAMENTE NÚMEROS </h2>
    
        </div>
        {% endif %}
        {% endif %}
    
        {% endwith %}
{% endblock %}