{% extends 'layout.html' %}
{% block body %}
<main class="mainCrear">
    <section class="creacion">
        <form action="???????????" method="POST" class="formulario" >
            <div class="crear">
                <label for="direccion">Direccion:</label>
                <input type="text" name="direccion" id="direccion" value="???????">
            </div>
            <div class="crear">
                <label for="numero_cel">Numero celular:</label>
                <input type="text" name="numero_cel" id="numero_cel" value="???????">
            </div>
            <button  type="submit" class="enviar"> Modificar</button>
        </form>
    </section>
</main>
{% endblock %}